nav{
    margin: 20px;
    background-color: black;
    color: white;
}
nav button{
    margin: 25px;
    font-size: 35px;
    text-decoration: none;
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
}
#contador button
{
    margin: 25px;
    background-color: darkblue;
    color: white;
    font-size: 25px;
    width: 50px;
    border: none;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}
form
{
    box-shadow: 1px 1px rgb(235, 231, 231);
    width:500px;
    box-shadow: 2px 2px rgb(194, 191, 191);
    border: 1px solid black;
    border-radius: 10px;
}
form div
{
    margin: 15px;
}
form div input
{
    width: 400px;
    border-radius: 15px;
    height: 30px;
    padding: 5px;
    border: 1px solid blue;
}
#btnenviar button{
    background-color: darkblue;
    color: white;
    font-size: 30px;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    margin: 20px;
}
.elementoenvio{
    margin-top: 15px;
    border-bottom: 1px solid black;
    background-color: aliceblue;
}
.elementoenvio span{margin: 10px;}
table tbody tr td
{
    border-bottom: 1px solid black;
    padding: 10px;
    /*background-color: whitesmoke;*/
}
table tbody tr{background-color: whitesmoke; cursor: pointer;}

table tbody tr:hover{background-color:white;}

table{border-collapse: collapse;}
table thead{background-color: black; color: white;
             font-size: 25px;}